@import './common.scss';



.main {
  flex: 1;

  .table-info {
    width: 100%;
    height: 64px;

    i {color:var(--color-red-1);}
  }

  .search {
    width: 100%;

    .field {
      margin-top: 16px;

      &.result {
        line-height: 2;
        font-family: Menlo;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      wc-input {
        flex: 1;
      }
    }
  }


  .about {
    padding:32px 16px;


    h2 {
      font-size:24px;
    }

    .logs {

      .version {
        margin-top:32px;
        line-height:2;
        font-weight:bold;
        font-size:18px;
      }

      dd {
        color:var(--color-grey-3);
      }

      ol {
        padding-left:2em;
        list-style: decimal;
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  .topbar,
  .main {
    padding: 0 16px;
  }

  .footer {
    .wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
